.login_wrapper{
  width: 400px;
  background-color: rgb(234, 234, 255);
  padding: 20px;
  border-radius: 10px;
}
.form{
  width: 500px;
    background-color: rgb(234, 234, 255);
    padding: 20px;
    border-radius: 10px;
}

.signUp {
  color: #645CBB;
  text-align: center;
  margin: 10px 10px 20px 10px;
}
.main-sidebar {
  margin-top: 4rem;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 222px 1fr;
}

.sidebar {
  padding: 10px;
  width: 222px;
  height: 100vh;
  position: fixed;
}

.content {
  width: 88vw;
  margin-left: 13rem;
  padding: 10px;
}
.links{
  padding: 10px !important;
  margin: 5px;
}
.navlinks {
  text-decoration: none;
  color: black;
  width: 100%;
}
.navlinks:hover{
  color: #080639;
}

.active {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: rgb(122, 117, 209);
  padding: 5px;
  border-radius: 3px;
}
.icon-color{
  color: #645CBB;
  margin-right: 10px;
}
.logo{
  height:5vh;
}
.logo-img{
  height: 100%;
}

.button{
  outline: none !important;
  border: none !important;
  color: #fff !important;
  background-color: #645CBB !important;
}

.ul{
  list-style: none;
}